body{
    font-family:'Courier New', Courier, monospace;
    text-align: center;
    background-color:beige;
    color:#333;
}
.container{
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}
#game-title{
    font-size: 2.5em;
    
}